.vscode/**
.vscode-test/**
src/**
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.gitignore
.yarnrc
webpack.config.js
.github
.git
node_modules
.editorconfig
.npmrc
.prettierrc
.prettierignore
jest.config.js
jest.integration.config.js
coverage
**/*.vsix
.DS_Store
**/.DS_Store
**/node_modules/@langchain/**
**/node_modules/langchain/**
../core-agent/node_modules/**
